
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url('./assets/cloud-img.jpg');
  background-size: cover;
}

.navbar{
  display: block;
  padding: 10px 0;
  background-color: #ffffff;
}

.app-name{
  color: #000000;
}

.form-container{
  margin-top: 20px;
}

.form-container input[type="text"]{
  padding: 8px;
  border: none;
  margin-right: 5px;
  border: 1px solid #282c34;
}

.form-container button{
  border: none;
  padding: 8px;
}

.form-container button:hover{
  font-weight: bold;
}

.card-weather{
  background-color: #70c9f9;
  margin: 35px auto;
  width: 40%;
  max-width: 350px;
}

.temp{
  display: block;
  width: 70%;
  margin: 8px auto;
  font-size: 56px;
}

.icon-weather{
  display: block;
  margin-top: 10px;
}



